<!doctype html>
<html>
<body>

<h2>Bienvenido al Diccionario</h2>
<h4>Elija una opcion:</h4>

<a href="http://127.0.0.1:5000/agregar"><button>Agregar palabra al diccionario</button><a/>
<a href="http://127.0.0.1:5000/editar"><button>Editar palabra existente</button><a/>
<a href="http://127.0.0.1:5000/eliminar"><button>Eliminar palabra</button><a/>
<a href="http://127.0.0.1:5000/lista"><button>Lista de palabras disponibles</button><a/>
<a href="http://127.0.0.1:5000/buscar"><button>Buscar palabra</button><a/>
